body { 
  margin: 0;
}

.home-page { 
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1ec8aa;

}

.logo {
  height: 100%;
  width: 100%;
}

.thumbnail {
  object-fit: cover;
  width: 100px;
  height: 100px;
}